<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">Sep 2015 – Present</div>
            </div><!--//upper-row-->
            <div class="company">Upstream S.A, Athens, Greece</div>
        </div><!--//meta-->
        <div class="details">
            <p>Participated in the implementation of a mobile commerce platform.</p>
            <p>Java, Apache Tomcat, Jboss, JUnit, Mockito </p>
            <p>Docker, RabbitMQ, Spring, Postgres </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Engineer</h3>
                <div class="time">May 2013 – Sep 2015</div>
            </div><!--//upper-row-->
            <div class="company">App-Art S.A, Athens, Greece</div>
        </div><!--//meta-->

        <div class="details">
            <p>Participated in the implementation of Cortex Mobile Marketing, a large-scale, HA campaign management
                system, handling real time data of over a million subscribers.</p>
            <p>Java, Apache Karaf OSGi container for the application’s modules </p>
            <p>ActiveMQ, Camel, Blueprint, MongoDB, Oracle </p>
        </div><!--//details-->

        <div class="details">
            <p>Designed and implemented a Java based User Interface that consumes data
                from main platform.</p>
            <p>Java, Apache Wicket, Javascript (jQuery), HTML, CSS </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->