---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}

<body>
    <div class="wrapper">
        <div class="main-wrapper">
            <div class="profile-section">
                <img class="profile-img" src="{{site.baseurl}}/assets/images/{% if site.pic %}{{ site.pic }}{% else %}profile.png{% endif %}" alt="profile picture" />
                <h1 class="profile-name">{% if site.name %}{{site.name}}{% else %}Alan Doe{% endif %}</h1>
                <h3 class="profile-title">{% if site.tagline %}{{site.tagline}}{% else %}Full Stack Developer{% endif %}</h3>
                
                <div class="contact-info">
                    {% if site.email %}
                    <a href="mailto: {{site.email}}" class="contact-link"><i class="fa fa-envelope"></i>{{site.email}}</a>
                    {% endif %}
                    
                    {% if site.phone %}
                    <a href="tel:{{site.phone}}" class="contact-link"><i class="fa fa-phone"></i>{{site.phone}}</a>
                    {% endif %}
                    
                    {% if site.linkedin %}
                    <a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank" class="contact-link"><i class="fa fa-linkedin"></i>linkedin.com/in/{{site.linkedin}}</a>
                    {% endif %}
                    
                    {% if site.github %}
                    <a href="http://github.com/{{site.github}}" target="_blank" class="contact-link"><i class="fa fa-github"></i>github.com/{{site.github}}</a>
                    {% endif %}
                    
                    {% if site.twitter %}
                    <a href="https://twitter.com/{{site.twitter}}" target="_blank" class="contact-link"><i class="fa fa-twitter"></i>{{site.twitter}}</a>
                    {% endif %}
                </div>
            </div>
            
            {% include career-profile.html %}
            {% include experience.html %}
            {% include education.html %}
            {% include skills.html %}
            {% include language.html %}
            {% include interests.html %}
            {% include certifications.html %}
        </div><!--//main-wrapper-->
    </div><!--//wrapper-->
    
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html> 

